<%= "お部屋一覧" %>
<tbody>
<div class="post-list">
  <% @posts.each do |post| %>
    <%= post.room_name %>
  <% end %>
</div>
<% @posts.each do |post| %>
    <tr>
    <td><%= post.id %></td>
    <td><%= post.room_name %></td>
    <td><%= post.introduction %></td>
    <td><%= post.price %></td>
    <td><%= post.address %></td>
    <td><%= image_tag post.image.url , size: '320x240'%></td>
    <td>
         <%= link_to "お部屋詳細", post %>
    </td>
  </tr>
<% end %>
</tbody>

